<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution id="org.jboss.tools.pde.sourcelookup.ui.downloadSourcesContribution"
                          targetID="org.eclipse.jdt.ui.ClassFileEditor">
         <action id="org.jboss.tools.pde.sourcelookup.ui.downloadSourcesAction"
              class="org.jboss.tools.pde.sourcelookup.ui.internal.actions.DownloadSourcesActionDelegate"
              label="Download Bundle Sources" style="push"/>
      </editorContribution>
      <editorContribution id="org.jboss.tools.pde.sourcelookup.ui.downloadSourcesContribution2"
                          targetID="org.eclipse.jdt.ui.ClassFileEditorNoSource">
        <action id="org.jboss.tools.pde.sourcelookup.ui.downloadSourcesAction2"
              class="org.jboss.tools.pde.sourcelookup.ui.internal.actions.DownloadSourcesActionDelegate"
              label="Download Bundle Sources" style="push"/>
      </editorContribution>
   </extension>

    <extension point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.pde.sourcelookup.ui.commands.downloadsources"
            name="Download Bundle Sources"
            defaultHandler="org.jboss.tools.pde.sourcelookup.ui.internal.actions.DownloadSourcesHandler"
            >
      </command>
   </extension>

   <extension point="org.eclipse.ui.commandImages">
      <image commandId="org.jboss.tools.pde.sourcelookup.ui.commands.downloadsources" icon="icons/source.gif"></image>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution 
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="org.jboss.tools.pde.sourcelookup.ui.commands.downloadsources"
              label="Download Bundle Sources"
              mnemonic="D">
           <visibleWhen checkEnabled="false">
                 <with variable="selection">
                     <and>
                        <count value="1" />
                        <iterate operator="and">
                           <adapt type="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer">
                               <test property="org.jboss.tools.pde.sourcelookup.isPluginContainer" />
                           </adapt>
                        </iterate>
                     </and>
                 </with>
           </visibleWhen>
        </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            id="org.jboss.tools.pde.sourcelookup.ui.ClasspathContainerPropertyTester"
            class="org.jboss.tools.pde.sourcelookup.ui.internal.actions.PluginSourceLookupPropertyTester"
            namespace="org.jboss.tools.pde.sourcelookup"
            properties="isPluginContainer"
            type="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer"/>
   </extension>
   <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="org.jboss.tools.pde.sourcelookup.ui.preferences.PluginSourceLookupPreferencePage"
	    class="org.jboss.tools.pde.sourcelookup.ui.internal.preferences.PluginSourceLookupPreferencePage"
	        category="org.eclipse.pde.ui.MainPreferencePage"
            name="Source lookup">
       </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jboss.tools.pde.sourcelookup.ui.internal.Startup"></startup>
   </extension>
</plugin>
